<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/base_styles.css">
</head>
<body>
  <div id="root"></div>
  <div class="w-full navbar">
      <nav class="flex justify-between p-4 bg-white text-gray-800">
        <a 
          class="flex items-center hover:no-underline p-2" 
          href="/">
          <img 
            class="h-14 mr-2 rounded-full" 
            src="/assets/img/profile.png" 
            alt="Profile" />
          <h1>Aung Chan Min</h1>
        </a>

        <div class="tools-bar-container">
          <div class="tools-bar">
            <a class="small-only nav-item" title="Home" href="/">
              {% include "./components/home.svg" %}
              <span class="text-xs">Home</span>
            </a>
            <a class="nav-item" title="About" href="/about">
              {% include "./components/about.svg" %}
              <span>About</span>
            </a>
            <a class="nav-item large-only" href="/projects">
              Projects
            </a>
            <a class="nav-item large-only" href="/blog">
              Blog
            </a>
            <a class="nav-item" title="Projects" href="/courses">
              {% include "./components/courses.svg" %}
              <span>Courses</span>
            </a>
            <button onclick="open_sidebar()" class="nav-item" id="navbar-button-menu">
              {% include "./components/menu.svg" %}
              <span>Menu</span>
            </button>
          </div>
        </div>
      </nav>
    </div>

    <nav id="side-bar" class="side-bar hidden bg-base" aria-label="primary" style="z-index: 50;">
      <div class="mb-8">
        <div class="relative">
          <button onclick="close_sidebar()" class="flex items-center text-inverted text-center px-1 py-2 my-2" id="menu-close">
            {% include "./components/close.svg" %}
            <span class="text-sm ml-4">Close Menu</span>
          </button>
        </div>
        <a 
          class="flex items-center hover:no-underline p-2" 
          href="/">
          <img 
            class="h-14 mr-2 rounded-full" 
            src="/assets/img/profile.png" 
            alt="Profile" />
          <h1>Aung Chan Min</h1>
        </a>
      </div>
      <ul class="list-none">
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/home.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/">Home</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/about.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/about">About</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/projects.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/about">Projects</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/courses.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/about">Courses</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/blog.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/about">Blog</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/send.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/about">Contact Now</a>
          </span>
        </li>
        <li>
          <button class="block text-inverted font-semibold p-3" id="dark-light-toggler">
            Light Mode / Dark Mode Toggler
          </button>
        </li>
        <li>
          <div class="block text-inverted font-semibold p-3">
            <input type="color" id="theme-color-picker" name="head" value="#fff"  />
            <label for="theme-color-picker">Theme Color picker</label>
          </div>
        </li>
      </ul>
    </nav>



    {{ content | safe }}
    <script type="text/javascript">
      function close_sidebar() {
        document.getElementById("side-bar").style.display = "none";
      }
      function open_sidebar() {
        document.getElementById("side-bar").style.display = "block";
      }
      document.getElementById("dark-light-toggler").onclick = function(e)
      {
        const root = document.documentElement;
        const light = getComputedStyle(root).getPropertyValue('--my-light');
        const dark = getComputedStyle(root).getPropertyValue('--my-dark');
        const myBaseColor = getComputedStyle(root).getPropertyValue('--my-base-color');
        let newColor = light;
        if(myBaseColor === light){
          newColor = dark;
        }
        root.style.setProperty('--my-base-color', newColor);
        console.log("change mode")
        console.log(dark)
      }

      document.getElementById("theme-color-picker").onchange = function(e)
      {
        const selectedColor = e.target.value;
        document.documentElement.style.setProperty('--my-theme-color', selectedColor);
        console.log(selectedColor)      
      }
    </script>
</body>
</html>
