<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/base_styles.css">
</head>
<body>
  <div class="navbar">
      <nav class="flex justify-between p-4 bg-primary">
        <a 
          class="flex items-center hover:no-underline p-2 color-theme" 
          href="/">
          <img 
            class="h-14 mr-2 rounded-full" 
            src="/assets/img/profile.png" 
            alt="Profile" />
          <h1>Aung Chan Min</h1>
        </a>

        <div class="tools-bar-container">
          <div class="tools-bar">
            <a class="small-only nav-item" title="Home" href="/">
              {% include "./components/home.svg" %}
              <span class="text-xs">Home</span>
            </a>
            <a class="nav-item" title="About" href="/about">
              {% include "./components/about.svg" %}
              <span>About</span>
            </a>
            <a class="nav-item large-only" href="/projects">
              Projects
            </a>
            <a class="nav-item large-only" href="/blog">
              Blog
            </a>
            <a class="nav-item" title="Projects" href="/courses">
              {% include "./components/courses.svg" %}
              <span>Courses</span>
            </a>
            <button onclick="open_sidebar()" class="nav-item" id="navbar-button-menu">
              {% include "./components/menu.svg" %}
              <span>Menu</span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  <div id="side-bar-container">
    <div id="side-bar-overlay" onclick="close_sidebar()"></div>
    <nav id="side-bar" class="bg-primary color-theme class" aria-label="primary">
      <div>
        <div class="relative">
          <button onclick="close_sidebar()" class="flex items-center text-inverted text-center px-1 py-2 my-2" id="menu-close">
            {% include "./components/close.svg" %}
            <span class="text-sm ml-4">Close Menu</span>
          </button>
        </div>
        <a 
          class="flex items-center hover:no-underline p-2" 
          href="/">
          <img 
            class="h-14 mr-2 rounded-full" 
            src="/assets/img/profile.png" 
            alt="Profile" />
          <h1>Aung Chan Min</h1>
        </a>
      </div>
      <ul class="list-none">
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/home.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/">Home</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/about.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/about">About</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/projects.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/projects">Projects</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/courses.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/courses">Courses</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/blog.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/blog">Blog</a>
          </span>
        </li>
        <li class="relative">
          <span class="flex items-center">
            {% include "./components/send.svg" %}
            <a class="block text-inverted font-semibold p-3" href="/contact">Contact Now</a>
          </span>
        </li>
        <li>
          <button class="flex items-center" id="dark-light-toggler">
            {% include "./components/switch.svg" %}
            <span class="block font-semibold p-3">Light Mode / Dark Mode Toggler</span>
          </button>
        </li>
        <li>
          <div>
            <input type="color" id="theme-color-picker" class="hidden" name="head"/>
            <label for="theme-color-picker" class="flex items-center">
            {% include "./components/colorPicker.svg" %}
              <span class="block font-semibold p-3">Theme Color picker</span> 
            </label>
          </div>
        </li>
      </ul>
    </nav>
  </div>



    {{ content | safe }}
    <script type="text/javascript">
      function close_sidebar() {
        document.getElementById("side-bar-container").classList.remove("active");
      }
      function open_sidebar() {
        document.getElementById("side-bar-container").classList.add("active");
      }
      const themeColor = "#123234";
      const isDarkMode = "isDarkMode";
      document.getElementById("dark-light-toggler").onclick = function(e)
      {
        const root = document.documentElement;
        if(root.classList.contains('light')){
          root.classList.remove("light");
          localStorage.setItem(isDarkMode, true); 
        }else{
          root.classList.add("light");
          localStorage.setItem(isDarkMode, false); 
        }
      }

      document.getElementById("theme-color-picker").onchange = function(e)
      {
        const selectedColor = e.target.value;
        document.documentElement.style.setProperty('--my-theme-color', selectedColor);
        localStorage.setItem(themeColor, selectedColor);   
      }
      window.addEventListener("load", ()=>{
        const isDark = JSON.parse(localStorage.getItem(isDarkMode));
        const selectedColor = localStorage.getItem(themeColor);
        if(!!isDark){
          document.documentElement.classList.remove("light");
        }else{
          document.documentElement.classList.add("light");
        }
        document.documentElement.style.setProperty('--my-theme-color', selectedColor);

      })
    </script>
</body>
</html>
