<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title }}</title>
    <link id="style" rel="stylesheet" type="text/css" href="/assets/style.css">
    {% if isAnalysisHome %}
      <link rel="stylesheet" type="text/css" href="/assets/analysis-home.css">
    {% endif %}

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.4.4/math.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <!-- <script src="https://unpkg.com/konva@9/konva.min.js"></script> -->
    <!-- <script defer src="https://unpkg.com/function-plot/dist/function-plot.js"></script> -->
    <!-- <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script> -->
</head>
<body>
    <div style="display: none;">
    {% raw %}\(
        \def\curl#1{\text{curl }#1}
        \def\bracket#1{\left({#1}\right)}
        \def\sbracket#1{\left[{#1}\right]} %square bracket
        \def\cbracket#1{\left\{{#1}\right\}} %curly bracket

        \def\Lim_#1{{\lim\limits_{#1}}}
        \def\limit{{\lim\limits_{n \to \infty}}}

        \def\dsum{{\displaystyle \sum}}
        \def\Sum_#1^#2{{\sum\limits_{#1}^{#2}}}
        \def\summ{\sum\limits_{n=0}^{\infty}}

        \newcommand{\inverse}[2]{{#1}^{-1}\left[{#2}\right]}
        
        \def\topologyTau{{\tau}}
        \def\Tau{{\tau}}
        \def\base{{\mathscr{B}}}
        \def\subbase{{\mathcal{S}}}
        \def\discrete{{\mathscr{D}}}
        \def\indiscrete{{\mathscr{I}}}
        \def\usual{{\mathscr{u}}}
        \def\int#1{{#1}^{\circ}}
        \def\b#1{b({#1})}
        \def\closure#1{\overline{#1}}
        \def\seq#1{\langle {#1} \rangle}

        \def\composite{{\circ}}
        
        \def\R{{\mathbb R}}
        \def\N{{\mathbb N}}
				\def\Z{{\mathbb Z}}
        \def\fQ{{\mathcal{Q}}}
        \def\riemannR{{\mathscr{R}}}
        \def\ep{\varepsilon}
        \def\d{\displaystyle}
        \def\grad{\nabla}
        \def\q{q}
				\def\conj#1{\, \overline{#1} \,}

        \def\mod#1{\left | {#1} \right |}
        \def\abs#1{\left | {#1} \right |}

        \def\crossProduct#1{\left\|\begin{array}{ccc} #1 \end{array}\right\|}

        \newcommand{\partialwrt}[2][]{\frac{\partial {#1}}{\partial {#2}}}
        \newcommand{\dpartialwrt}[2][]{\dfrac{\partial {#1}}{\partial {#2}}}

        \def\upint{\mkern3mu\overline{\vphantom{\intop}\mkern7mu}\mkern-20mu\int}
        \def\lowint{\mkern3mu\underline{\vphantom{\intop}\mkern7mu}\mkern-10mu\int}
        \def\lowsup_#1{_{{\lower{0.3em}{#1}}}}

				\def\indeterminate#1{\left( \text{indeterminate form: } \frac{#1}{#1} \right) }
				\def\indeterminatezero{\left( \text{indeterminate form: } \frac{0}{0} \right) }
				\def\indeterminateinf{\left( \text{indeterminate form: } \frac{\infty}{\infty} \right) }
    \){% endraw %}
    </div>

    <nav>
      <ul class="nav_anchors">
        <li><a href="/">Home</a></li>
        {% set current_url = '' %}
        {% for folder in page.url.split('/') %}
          {% if folder %}
            {% set current_url = current_url + '/' + folder %}
            <li><a href="{{ current_url }}">{{ folder | replace('.html', '') }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class="nav_tools">
        <li><a href="?download=true">Download</a></li>
        <li><button class="show_history_btn">History</button></li>
      </ul>
    </nav>
    <main data-state="loading">
        {{ content | safe }}
    </main>
    <aside id="history">
      <section class="history_overlay"></section>
      <section class="history_container">
        <div class="history_toolbar">
          <button class="hide_history_btn">Close</button>
        </div>
        <div class="history_body"></div>
      </section>
    </aside>
    <!-- <script type="text/javascript" src="mathModules/analysis/pointwiseConvergeQ1.js"></script> -->
    <!-- <script type="text/javascript" src="mathModules/analysis/seriesConvergeQ1.js"></script> -->
    <!-- <script type="text/javascript" src="mathModules/table.js"></script> -->
    <!-- <script type="text/javascript" src="mathModules/plot.js"></script> -->
    <!-- <script type="text/javascript" src="mathModules/konva.js"></script> -->
    <!-- <script type="text/javascript" src="mathModules/plotly.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script> -->
    <script type="text/javascript" src="/assets/index.js"></script>
    <script type="text/javascript" src="/assets/svgjs.js"></script>
    <!-- <script type="text/javascript" src="assets/anime.js"></script> -->
    	<script type="text/javascript" src="/assets/functionplot.js"></script>
</body>
</html>
