---
layout: page.njk
---
{% if content %}
<main data-state="loading">
	<h1>{{title}}</h1>
	{{ content | safe }}
	<summary class="theorem">
		<h3>Table of Content</h3> 
		<details open>
			{{ collections.all | eleventyNavigation(key) | eleventyNavigationToHtml | safe }}
		</details>
	</summary>
</main>
{% else %}
	<h1 class="center">{{title}}</h1>
	<h3>Table of Content</h3>
	{{ collections.all | eleventyNavigation(key) | eleventyNavigationToHtml | safe }}
{% endif %}
