---
// import { getCollection } from "astro:content";

// import LinkButton from "@components/LinkButton.astro";
// import Branches from "@components/Branches.astro";
// import Hr from "@components/Hr.astro";
// import getToc from "@utils/getToc";

// const posts = await getCollection("analysis");

// const toc = getToc(posts);

---
<div>
  <h1>This is analysis home page</h1>
<section>
  <h2>Chapter 7 Sequences and Series of Functions</h2>
  <div>
    <h3><a href="/analysis/seriesconverge">Series Convergence</a></h3>
  </div>
  <div>
    <h3><a href="/analysis/ch07/pointwiseconverge">Pointwise Convergence of sequence of functions</a></h3>
  </div>
  <div>
    <h3><a href="/analysis/ch07/uniformconverge">Uniform Convergence of sequence of functions</a></h3>
  </div>
  <div>
    <h3>Exercises</h3>
    <ol>
      <li><a href="/analysis/ch07/exercises/ex-06">exercises No. 6</a></li>
      <li><a href="/analysis/ch07/exercises/ex-07">exercises No. 7</a></li>
      <li><a href="/analysis/ch07/exercises/ex-08">exercises No. 8</a></li>
      <li><a href="/analysis/ch07/exercises/ex-09">exercises No. 9</a></li>
      <li><a href="/analysis/ch07/exercises/ex-22">exercises No. 22</a></li>
    </ol>
  </div>
</section>
</div>
<style>
</style>
