---
// import { getCollection } from "astro:content";

// import LinkButton from "@components/LinkButton.astro";
// import Branches from "@components/Branches.astro";
// import Hr from "@components/Hr.astro";
// import getToc from "@utils/getToc";

// const posts = await getCollection("analysis");

// const toc = getToc(posts);

---
<div>
  <p>This is hydromechanic (O10) home page</p>
<ol>
  <h1></h1>
  <li><a href="404.html?file=hydro/ch2/eg">Example</a></li>
  <li><a href="404.html?file=hydro/ch2/eg1">Example 1</a></li>
  <li><a href="404.html?file=hydro/ch2/eg2">Example 2</a></li>
  <li><a href="404.html?file=hydro/ch2/eg3">Example 3</a></li>
  <li><a href="404.html?file=hydro/ch2/eg4">Example 4</a></li>
  <li><a href="404.html?file=hydro/ch2/acceleration">Acceleration of a Fluid</a></li>
  <li><a href="404.html?file=hydro/ch3/eqofMotion">Euler's Equation of Motion</a></li>
  <li><a href=""></a></li>
</ol>

<div>
  <h1>Tutorials</h1>
  <ol><li>
    <h2>Tutorial 1</h2>
    <p><a href="404.html?file=hydro/ch2/eg">No1 /1</a></p>
  </li>
  <li>
    <h2>Tutorial 2</h2>
    <p><a href="404.html?file=hydro/ch2/eg1">No 1/1 = Example 1 page 79</a></p>
  </li>
</ol>
</div>

</div>
<style>
</style>
