summary{
/*  border: 1px solid;*/
  padding: 5px 20px;
}

details {
  width: 90%;
  margin: 0px 40px;
  padding: 0px;
/*  border: 1px solid;*/
  font-size: 28px;
  overflow: hidden;
}
details details{
  width: 100%;
}
details a{
  display: block;
  margin: 5px 40px;
  padding: 5px 10px;
}