@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --my-light: #efefef;
    --my-dark: #1F1F1F;
    --my-base-color: var(--my-light);
    --my-theme-color: var(--my-dark);
}

.bg-base
{
    background: var(--my-base-color);
}
.color-theme
{
    color: var(--my-theme-color);
}

/* styles.css */

/* Hide small screen navbar by default */
.navbar-small {
    display: none;
}
.navbar-large {
    display: block;
}
/* Media query for small screens */
@media (max-width: 768px) {
    .navbar-small {
        display: block;
    }
    .navbar-large {
        display: none;
    }
}
.navbar-small svg
{
    height: 1.5rem;
}
#side-bar
{
    width: 90vw;
    padding: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
}

.container{
	max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.ul-initial ul
{
    display: block;
    list-style-type: disc;
/*    margin-block-start: 1em;*/
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
