*{
	box-sizing: border-box;
}
body{
	background:#eee;
	color: #1133ee;
	font-size: 20px;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}


.center-box{
	display: flex;
	justify-content: center;
}

.definition{
	margin: 15px 20px;
	padding: 8px 15px;
	border: 2px solid black;
	border-radius: 5px;
}
.definition > h2{
	font-size: 1.4em;
}
.definition p{
	font-size: 1.2em;
}
.table{
	display: table;
	margin: auto;
}
.tr{
	display: table-row;
}
.tr>div{
	display: table-cell;
	padding: 5px 5px;
}

.example{
	margin: 1;
}