---
---
<div>
  <div id="selectBox">
    <label for="branaches">Choose a Math Branch:</label>
    <select name="branaches" id="branaches">
      <option value="Analysis">Analysis</option>
      <option value="hydromechanic">Hydromechanic</option>
    </select>
  </div>
</div>

<style>
  select {
    background: inherit;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.3em;
    margin-left: 20px;
  }
  select > option {
    background: #222;
    color: #eee;
  }
  #selectBox{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    font-size: 1.2em;
  }
</style>