---
import Analysis from "@components/content/Analysis.astro";
import Hr from "@components/Hr.astro";
---
<div>
  <div id="selectBox">
    <label for="branches">Choose a Math Branch:</label>
    <select name="branches" id="branches">
      <option value="analysis">Analysis</option>
      <option value="hydromechanic">Hydromechanic</option>
    </select>
  </div>
  <div id='container'>
    <div id="selected" data-branch-name="analysis"><Analysis /></div>
    <div data-branch-name="hydromechanic">hydro</div>
  </div>
</div>
<script is:inline type="text/javascript">
  document.getElementById('branches').onchange = function(e){
    const selectedBranch = this.options[this.selectedIndex].value;
    document.getElementById('selected').removeAttribute('id');
    document.querySelector(`[data-branch-name=${selectedBranch}]`).setAttribute('id', 'selected');
  }
</script>
<style>
  select {
    background: inherit;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.3em;
    margin-left: 20px;
  }
  select > option {
    background: #222;
    color: #eee;
  }
  #selectBox{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    font-size: 1.2em;
  }
  #container > *:not(#selected){
    display: none;
  }
</style>