---
title: "Ex 3(Page 110)"
parent: 5212_3_1_Lemma_3_1
order: 3
---
<summary class="theorem">
	<div class="statement">
		Ex 3: Construct an equivalent integral equation to the initial value problem
		$$y'' + \mu^2 y = g(t,y), y(0) = y_0, y'(0) = z_0$$
		assuming that $g$ is continuous in a region $D$ containing $(0, y_0)$ and where $\mu > 0$ is a constant.
	</div>
	<details open class="proof">
		{% include "./shared_3_1_ex_3.liquid" %}
	</details>
</summary>

<summary class="theorem">
	<div class="statement">
		Prove that the initial value problem
			$$y'' + \mu^2 y = g(t,y), y(0) = y_0, y'(0) = z_0$$

		where $y$ is continuous in some region $D$ containing $(0, y_0)$, is equivalent to the integral equation

			$$y(t)=y_0 \cos (\mu t) + \frac{z_0}{\mu} \sin (\mu t) + \frac{1}{\mu} \int_{t_0}^{t} \sin(\mu (t - s))g(s, y(s)) ds$$
	</div>
	<details open class="proof">
		{% include "./shared_3_1_ex_3.liquid" %}
		<hr>
		<p>Now suppose $\psi$ is solution of the given integral equation.</p>
		$$\text{Then } \psi(t)=y_0 \cos (\mu t) + \frac{z_0}{\mu} \sin (\mu t) + \frac{1}{\mu} \int_{t_0}^{t} \sin(\mu (t - s))g(s, \psi(s)) ds \tag{1}$$
		<p>Differentiating both sides with respect to $t$ gives</p>
		\begin{align}
			\psi'(t) &= -y_0 \mu \sin (\mu t) + \frac{z_0}{\mu} \mu \cos (\mu t) + \frac{1}{\mu} \frac{d}{dt} \int_{t_0}^{t} \sin(\mu (t - s))g(s, \psi(s)) ds \\

			&\begin{array}{ll}
				=&-y_0 \mu \sin (\mu t) + z_0 \cos (\mu t) + \\ 
				&\frac{1}{\mu} \{ \int_{t_0}^{t} \partialwrt{t} \sin(\mu (t - s))g(s, \psi(s)) ds + \\
				&\sin(\mu (t - t))g(t, \psi(t)) \frac{dt}{dt} - \sin(\mu (t-t_0)) g(t_0, \psi(t_0)) \frac{d t_0}{dt}) \} \\
			\end{array}\\

			&= -y_0 \mu \sin (\mu t) + z_0 \cos (\mu t) + \frac{1}{\mu} 
			\int_{t_0}^{t} \mu \cos(\mu (t - s))g(s, \psi(s)) ds + 0  - 0 \\

		\end{align}
		
		$$\therefore \psi'(t) = -y_0 \mu \sin (\mu t) + z_0 \cos (\mu t) + \int_{t_0}^{t} \cos(\mu (t - s))g(s, \psi(s)) ds $$

		\begin{align}
			\psi''(t)&= -y_0 \mu^2 \cos (\mu t) - z_0 \mu \sin (\mu t) + \frac{d}{dt} \int_{t_0}^{t} \cos(\mu (t - s))g(s, \psi(s)) ds \\

			&\begin{array}{ll}
				=& -y_0 \mu^2 \cos (\mu t) - z_0 \mu \sin (\mu t) + \\
				& \int_{t_0}^{t} \partialwrt{t} \cos(\mu (t - s))g(s, \psi(s)) ds + \\
				&\cos(\mu (t - t)) g(t, \psi(t)) \frac{dt}{dt} - \cos(\mu(t - t_0))g(t_0, \psi(t_0)) \frac{dt_0}{dt}
			\end{array} \\

			&\begin{array}{ll}
			=& -y_0 \mu^2 \cos (\mu t) - z_0 \mu \sin (\mu t) + \\
			&\int_{t_0}^{t} -\mu \sin(\mu (t - s))g(s, \psi(s)) ds + g(t, \psi(t)) - 0 \\
			\end{array}\\

			&= -\mu^2 \small\bracket{y_0 \cos (\mu t) + \frac{z_0}{\mu} \sin (\mu t) + \frac{1}{\mu} \int_{t_0}^{t} \sin(\mu (t - s))g(s, \psi(s)) ds} + g(t, \psi(t)) \\

			&= -\mu^2 \psi(t) + g(t, \psi(t)) \\
		\end{align}
			$$\therefore \psi''(t) + \mu^2 \psi(t) = g(t, \phi(t))$$
		<p>$\psi$ is the solution of the second order ordinary differential equation $y'' + \mu^2 y = g(t, y)$. </p>

		\begin{align}
			&\text{From equation(1), we have }\\
		\psi(t)&= y_0 \cos (\mu t) + \frac{z_0}{\mu} \sin (\mu t) + \frac{1}{\mu} \int_{t_0}^{t} \sin(\mu (t - s))g(s, \psi(s)) ds \\

		&\text{Let } t_0=0 \\
		\psi(t)&= y_0 \cos (\mu t) + \frac{z_0}{\mu} \sin (\mu t) + \frac{1}{\mu} \int_{0}^{t} \sin(\mu (t - s))g(s, \psi(s)) ds \\

		&\text{Put } t=0\\
		\psi(0)&= y_0 \cos (0) + \frac{z_0}{\mu} \sin (0) + \frac{1}{\mu} \int_{0}^{0} \sin(\mu (0 - s))g(s, \psi(s)) ds \\

		\psi(0) &= y_0 \\

		&\text{From equation(2), we have }\\

		\psi'(t) &= -y_0 \mu \sin (\mu t) + z_0 \cos (\mu t) + \int_{t_0}^{t} \cos(\mu (t - s))g(s, \psi(s)) ds \\

		&\text{Let } t_0=0 \\
		\psi'(t) &= -y_0 \mu \sin (\mu t) + z_0 \cos (\mu t) + \int_{0}^{t} \cos(\mu (t - s))g(s, \psi(s)) ds \\

		&\text{Put } t=0\\
		\psi'(0) &= -y_0 \mu \sin (0) + z_0 \cos (0) + \int_{0}^{0} \cos(\mu (t - s))g(s, \psi(s)) ds \\
		\psi'(0) &= z_0
	\end{align}

	<p>Therefore $\psi$ is solution of the given initial value problem.</p>
	</details>
</summary>