---
layout: base.njk
title: "My Blog"
---
<div class="">
  <div class="text-center lg:w-3/4 xl:w-2/3 mx-auto my-20 xl:my-40">
    <h1 class="mb-10 text-5xl">Blog</h1>
  </div>
  <h1 class="text-4xl text-nowrap text-center lg:w-3/4 xl:w-2/3 mx-auto my-20 xl:my-40">Table of Contents</h1>
  <p>
  <div class="text-2xl text-nowrap text-center lg:w-3/4 xl:w-2/3 mx-auto my-20 xl:my-40" for="tagFilter"></div>
  <div class="w-full text-2xl flex flex-col justify-center items-center mb-8">
    <label>Filter by tag:</label>
    <select class="" id="tagFilter">
      <option value="all">All</option>
      {% for tag in collections.tagsList %}
        <option value="{{ tag }}">{{ tag }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="container">
  <ul id="postList" class="md:grid md:grid-cols-2 lg:grid-cols-3 gap-12" >
    {% for post in collections.blog %}
      <li class="post-item mb-12" data-tags="{{ post.data.tags | join: ',' }}">
        <a 
          class="group hover:no-underline focus:no-underline" 
          href="{{ post.url }}">
          <div 
            class="w-full h-64 rounded bg-secondary transform duration-200 group-hover:shadow-lg group-focus:shadow-lg group-hover:-translate-y-1 group-focus:-translate-y-1 " 
            style="display: block; overflow: hidden; position: relative;">
            {% if post.data.img %}
              <img class="w-full h-full object-cover hover:object-contain" src="{{ post.data.img }}" />
            {% else %}
              <div class="w-full h-full bg-secondary color-theme flex justify-center items-center">
                <p class="h-fit text-4xl text-center">
                  {{ post.data.title }}
                </p>
              </div>
            {% endif %}
          </div>
          <div class="mt-6">
            <p class="text-xs text-inverted-muted my-2">
              Posted {{ post.data.date | default : "January 25, 2021"}}
            </p>
            <!-- <p class="text-2xl leading-tight text-inverted group-hover:underline group-focus:underline">
              {{ post.data.title | default: "Unnamed Post" }}
            </p>
            <p class="text-inverted-muted">
              {{ post.data.description | default: "My website released to critical acclaim, with thousands of visits in a few days. Learn why did I soft launch my website nearly a month earlier in secret"}}
            </p> -->
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  document.getElementById('tagFilter').addEventListener('change', function() {
    const selectedTag = this.value;
    const posts = document.querySelectorAll('.post-item');

    posts.forEach(post => {
      const tags = post.getAttribute('data-tags').split(',');

      if (selectedTag === 'all' || tags.includes(selectedTag)) {
        post.classList.remove('hidden');
      } else {
        post.classList.add('hidden');
      }
    });
  });
</script>
